.footer {
  background-color: #161515;
  color: white;
  padding: 20px;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: left;
  font-size: 15px;
  border-top: 3px solid darkslategray;
  height: 60px;
  z-index: 2; 
}
  
.footer .contact-info {
  margin-left: 20px;
}