/* Header.css */
.header {
    background-color: #161515;
    color: #2F4F4F;
    padding: 26px;
    text-align: center;
    font-size: 24px;
    border-bottom: 3px solid darkslategray;
    position: fixed;
    width: 100%;
    height: 85px;
    overflow: hidden;
    z-index: 2;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
  }
  
  .navbar-logo {
    height: 50px;
    width: auto;
    margin-left: 20px;
    cursor: pointer;
    transition: transform 0.3s;
  }
  
  .navbar-logo:hover {
    transform: scale(1.1);
  }
  
  .auth-buttons {
    position: absolute;
    top: 20px;
    right: 20px;
  }
  
  .auth-buttons button {
    background-color: #2F4F4F;
    color: white;
    border: none;
    padding: 10px 20px;
    margin-left: 10px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .auth-buttons button:hover {
    background-color: #444;
  }
  
  .NavigatorSideBar {
    display: flex;
    flex-direction: column;
    width: 200px;
    background-color: #f4f4f4;
    padding: 10px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 85px;
    bottom: 0;
    height: calc(100vh - 85px);
    overflow-y: auto;
    border-left: 1px solid #ccc;
    z-index: 0;
    transition: left 0.3s;
  }
  
  .NavigatorSideBar.visible {
    left: 0;
  }
  
  .NavigatorSideBar.hidden {
    left: -200px;
  }
  
  .NavigatorSideBar button {
    background-color: #2F4F4F;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 10px 0;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 100%;
    text-align: left;
  }
  
  .NavigatorSideBar button:hover {
    background-color: #444;
  }
  
  #main-content {
    padding: 20px;
    padding-bottom: 60px;
    margin-top: 85px;
    transition: margin-left 0.3s;
  }
  
  .content-visible {
    margin-left: 220px;
  }
  
  .content-hidden {
    margin-left: 20px;
  }