.NavigatorSideBar {
    display: flex;
    flex-direction: column;
    width: 200px;
    background-color: #f4f4f4;
    padding: 10px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 85px;
    bottom: 0;
    height: calc(100vh - 85px);
    overflow-y: auto;
    border-left: 1px solid #ccc;
    z-index: 0;
    transition: left 0.3s;
  }
  
  .NavigatorSideBar.visible {
    left: 0;
  }
  
  .NavigatorSideBar.hidden {
    left: -200px;
  }
  
  .NavigatorSideBar button {
    background-color: #2F4F4F;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 10px 0;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 100%;
    text-align: left;
  }
  
  .NavigatorSideBar button:hover {
    background-color: #444;
  }
  
  #main-content {
    padding: 20px;
    padding-bottom: 60px;
    margin-top: 85px;
    transition: margin-left 0.3s;
  }
  
  .content-visible {
    margin-left: 220px;
  }
  
  .content-hidden {
    margin-left: 20px;
  }
  
  .toggle-button {
    position: fixed;
    top: 90px;
    z-index: 1;
    transition: left 0.3s;
  }
  
  .toggle-button.visible {
    left: 210px;
  }
  
  .toggle-button.hidden {
    left: 10px;
  }