.NavigatorSideBar {
    display: flex;
    flex-direction: column;
    width: 200px;
    background-color: #f4f4f4;
    padding: 10px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 85px; 
    left: 0;
    bottom: 0;
    height: calc(100vh - 85px); 
    overflow-y: auto;
    border-left: 1px solid #ccc;
    z-index: 0;
}


.NavigatorSideBar button {
    background-color: #2F4F4F;
    color: white;
    border: none; 
    padding: 10px 20px;
    margin: 10px 0; 
    font-size: 16px; 
    cursor: pointer;
    transition: background-color 0.3s; 
    width: 100%; 
    text-align: left;
    
}

.NavigatorSideBar button:hover {
    background-color: #444;
    
}
#main-content {
    margin-left: 220px;
    margin-top: 85px;
    padding: 20px;
    padding-bottom: 60px; 
    
}


.main-content-right {
    margin-right: 220px;
    padding: 20px;
}
